body {
    background-image: url("CCC\ logo big.png");
    background-repeat: no-repeat;
    background-size: cover;
}
/* header */
.header {
    background-color: white;
    width: 100%;
    height: 175px;
    padding: 6px 2px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
}
/* left side of header */
.header-left {
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-left img {
    width: 90px;
    height: 50px;
    margin-right: 15px;
    margin-left: 10px
}
.header-left p {
    font-family: cursive;
    font-size: large;
    font-weight: bold;
}
.header-options {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 15px;
}
.header-options a {
    text-decoration: underline;
    color: #333;
    font-weight: bold;
}
.logo-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
}
/* right side of header */
.header-right {
    height: 175px;
    display: flex;
    align-items: center;
}
/* contact us button */
.contact-button {
    background-color:gold ;
    width: 125px;
    height: 40px;
    font-size: medium;
    font-weight: bold;
    padding: 7px 10px;
    border-radius: 18px;
    margin-right: 10px;
    border: none;
}
.contact-button:hover {
    border: black solid 2px;
    color: goldenrod;
}
/* font awesome icons */
.fa {
    padding: 16px;
    font-size: 24px;
    width: 48px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 50%;
    background: #333;
    color: white;
    transition: opacity 0.3s;
}
.fa:hover {
    opacity: 0.7;
}
.fa-twitter, .fa-instagram, .fa-whatsapp {
    background: gold;
    color: #000;
    margin-left: 3px;
}